#table {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 600px;
    background-color: black;
}

#column {
    position: absolute;
}

.card-flip {
    position: relative;
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-color: aqua;
    border-radius: 4px;
}

.card {
    position: relative;
    background: #000;
    font-size: 80px;
    color:white;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-color: aqua;
    border-radius: 4px;
}

#column {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 600px;
}

#c0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 600px;
}

#c1 {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100px;
    height: 600px;
}

#c2 {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 100px;
    height: 600px;
}
#c3 {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 100px;
    height: 600px;
}

#c4 {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 100px;
    height: 600px;
}

#c5 {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 100px;
    height: 600px;
}

#c6 {
    position: absolute;
    top: 0px;
    left: 600pc; 
    width: 100px;
    height: 600px;
}