#table {
    position: absolute;
    width: 700px;
    height: 600px;
    left: 50%;
    margin: 0, auto;
    text-align: center;
}

#column {
    position: relative;
}

.card-flip {
    position: relative;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.card {
    position: relative;
    background: #000;
    font-size: 80px;
    color:white;
    width: 100px;
    height: 100px;
}

#c0 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 600px;
}

#c1 {
    position: fixed;
    top: 0px;
    left: 100px;
    width: 100px;
    height: 600px;
}

#c2 {
    position: fixed;
    top: 0px;
    left: 200px;
    width: 100px;
    height: 600px;
}
#c3 {
    position: fixed;
    top: 0px;
    left: 300px;
    width: 100px;
    height: 600px;
}

#c4 {
    position: fixed;
    top: 0px;
    left: 400px;
    width: 100px;
    height: 600px;
}

#c5 {
    position: fixed;
    top: 0px;
    left: 500px;
    width: 100px;
    height: 600px;
}

#c6 {
    position: fixed;
    top: 0px;
    left: 600pc; 
    width: 100px;
    height: 600px;
}