ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 36px;
    margin: 10px;
}

#item {
    position: relative;
}

#table {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 600px;
    background-color: black;
}

#column {
    position: absolute;
}

.card-flip {
    position: relative;
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-color: aqua;
    border-radius: 4px;
}

.card {
    position: relative;
    background: #000;
    font-size: 80px;
    color:white;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-color: aqua;
    border-radius: 4px;
}

#container {
	margin: 0px;
	width: 480px;
	height: 360px;
	border: 10px #333 solid;
}
#videoElement {
    left: 0;
	width: 480px;
	height: 360px;
	background-color: #666;
}

#column {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 600px;
}

#results-board {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    border-radius: 4px;
    margin: 0 auto;
}